doctype html
html
  head
    link(rel="stylesheet", href="css/style.css")
    meta(charset="utf-8")

  body
    .email-container
      .email-header
        .email-center

          .email-header-topline
            a.email-logo(href="#")
              img(src="img/logo.png", alt="Logo")

            .email-social-wrap
              a(href="#")
                img(src="img/soc_twitter.png", alt="Alt")
              a(href="#")
                img(src="img/soc_facebook.png", alt="Alt")
              a(href="#")
                img(src="img/soc_google.png", alt="Alt")

          .email-header-top The best offer for you.

          a(href="#").email-button Learn more

      .email-content
        .email-center
          .email-teasers-wrap
            .email-teaser-item
              img(src="img/teaser-1.png" alt="Flash")
              p Flash

            .email-teaser-item
              img(src="img/teaser-2.png" alt="Mouse")
              p Mouse

            .email-teaser-item
              img(src="img/teaser-3.png" alt="Keyboard")
              p Keyboard

          .email-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


          .email-sale-text Order now

          .mail-products-wrap
            .mail-products-item
              img(src="img/item-1.jpg", alt="mouse")
              .mail-price Very smart mouse
              a(her="#").product-button Get it
            .mail-products-item
              img(src="img/item-2.jpg", alt="keyboard")
              .mail-price Very small keyboard
              a(her="#").product-button Get it

    .email-footer
      a(href="#") Unsubscribe from this email